@model Projeto.WEB.Models.UsuarioLoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<hr/>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        
        <div class="login-panel panel panel-default">
            <div class="panel panel-heading" align="center">
                <h4>Bem vindo</h4>
                 Acesse o Sistema
            </div>
            <div class="panel-body">
                
                    

                        @using (Html.BeginForm())
                        {

                            <label>Login de Acesso:</label>
                             @Html.TextBoxFor(model => model.Login,
                            new { @class = "form-control", @placeholder = "Nome de Usuário" })
                            <span class="text-danger focus">
                                @Html.ValidationMessageFor(model => model.Login)
                            </span>
                            <br />

                            <label>Senha de Acesso:</label>
                            @Html.TextBoxFor(model => model.Senha,
                              new { @class = "form-control", @type = "password", @placeholder = "Senha" })
                            <span class="text-danger focus">
                                @Html.ValidationMessageFor(model => model.Senha)
                            </span>
                            <br />

                            <br />
                            <input type="submit" value="Login" class="btn btn-sm btn-block btn-success" />

                            
                            <br />
                            <br />

                            <strong>
                                @ViewBag.Mensagem
                            </strong>

                        }
                    
                
            </div>
        </div>
    </div>
</div>

